/* .dropArea{
    display: grid;
    place-items: center;
    background-color: rgb(124, 116, 116);
width: 500px;
height: 400px;

}

.text{
    border: dotted 3px #555;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
 */

 
